body {
    background: transparent;
}

#debug {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.rs-drawer-header {
    padding: 10px 40px 10px 60px;
    
    .rs-drawer-header-close {
        top: 14px;
    }
}

.drawer-nav {
    position: absolute;
    background: #191b1e;
    width: 100%;
    z-index: 5;
}

.rs-drawer-body {
    margin-top: 45px;
    height: calc(100% - 102px);

    .rs-form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .rs-form-group {
            margin: 0 !important;
        }
    }
}

.rs-nav-subtle .rs-nav-item {
    text-align: center;
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.rs-drawer-actions {
    display: flex;
    align-items: center;
}

.server-banner {
    width: 100%;
    margin-bottom: 8px;
    background: #3c3f43;

    img {
        width: 100%;
        max-height: 100px;
        object-fit: contain;
    }
}

.inline-save {
    display: flex;

    button {
        margin-left: 5px;
    }
}
